
  .navbar-custom{
     position:  absolute;
     top: 0;
     padding: 22px 30px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 99;
  }
  .navbar-custom h4{
    font-size: 20px;
  }
  .navbar-custom a{

    text-decoration: none;
    color: #fff;
    font-family: "FG-R", sans-serif;

  }
  .menu-link a{
    display: block;
    font-size: 20px;
  }
  .menu-link{
    display: flex;
    align-items: center;
    gap: 28px;
  }

  .work{
    height: 100vh;
    width: 100%;
    background-color: darkcyan;
  }

  .mobile-menu-ham{
    position: fixed;
    top: 30px;
    right: 50px;
    background: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1);
    
  }

   .ham-burger{
    position: relative;
   }
  .ham-burger::before{
    content: '';
    height: 2px;
    width: 50px;
    background: #222;
    display: block;
    position: absolute;
    top: 30px;
    left: 15px;
    transition: transform 0.3s;
  }
  .ham-burger::after{
    content: '';
    height: 2px;
    width: 50px;
    background: #222;
    display: block;
    position: absolute;
    top: 50px;
    left: 15px;
    transition: transform 0.3s;
  }

  .ham-burger.add-class::after{
    top: 40px;
    left: 15px;
    transform: rotate(-45deg);
  }

  .ham-burger.add-class::before{
    top: 40px;
    left: 15px;
    transform: rotate(45deg);
  }
  .svgCurve{
    position: absolute;
    top: 0;
    left: -99px;
    width: 100px;
    height: 100%;
    fill: rgb(113 113 113 / 50%);
    stroke: none;
}

  @media screen and (max-width:992px){
    .menu-link{
     display: none;
    }
    .navbar-custom {
        padding: 20px;
    }

    .mobile-menu-ham {
      height: 60px;
      width: 60px;
      top: 13px;
      right: 20px;
    }
    .ham-burger::before {
      width: 30px;
      top: 22px;
    }
    .ham-burger::after {
      width: 30px;
      top: 38px;
    }
    .ham-burger.add-class::before {
      top: 28px;
    }
    .ham-burger.add-class::after {
      top: 28px;
    }
    .menu {
      width: 100% !important;
    }
    .menu .nav {
        font-size: 36px;
    }
    .project{
      flex-direction: column;
    }
    .project p{
      font-size: 18px;
    }
  }

  .section-gap {
    margin-top: 150px;
   
  }

  .title{
    font-size: 20px;
    color: #6c6b6b;
    font-family: "FG-R", sans-serif;
   
  }

  .project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
    border-top: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
  }

  .project h2{
    font-size: clamp(3.125rem, 2.7138rem + 2.193vw, 4.6875rem);
    font-family: "FG-R";
    margin: 0;
    color: #222;
  }
  .project p{
    font-size: 24px;
    font-family: "FG-R";
    margin: 0;
    color: #222;
  }

  .popContainer{
    height: 350px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    pointer-events: none;
    overflow: hidden;
    z-index: 3;
}
.popSlider{
  height: 100%;
  width: 100%;
  position: relative;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.pop{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop img{
  height: auto;
}

.cursor, .cursorLabel{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #455CE9;
  color: white;
  position: fixed;
  z-index:3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  pointer-events: none;
}

.cursorLabel{
  background-color: transparent;
}


/* // slider  */




.slidingImages{
  display: flex;
  flex-direction: column;
  gap: 3vw;
  position: relative;
  margin-top: 150px;
  background-color: white;
  z-index: 1;
  overflow-x: hidden;

}

.slider{
  display: flex;
  position: relative;
  gap: 3vw;
  width: 120vw;
  left: -10vw;
  
}
.project-new{
  width: 25%;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageContainer{
  position: relative;
  width: 300px;
  height: 300px;
}
.imageContainer img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.circleContainer{
 width: 100%;
  position: relative;
  margin-top: 100px;
}
.circle{
  /* height: 400%; */
  width: 120%;
  left: -10%;
  /* bottom: 0; */
  border-radius: 0 0 50% 50%;
  background-color: white;
  z-index: 1;
  position: absolute;
  box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
}




